body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 

.App{
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 500px;
}
.add-person-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container{
  padding: 1px;
  border: black 2px;
  margin: 10px;
  justify-content: space-evenly;

}
.buttons{
  padding: 10px;
  margin: 10px;
}