body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.movie-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
overflow: auto;
}
.movie-poster{
    height: 240px;
    width: 240px;
    object-fit:fill;
    }
    .movie-show-button{
        margin-top: 10px;
        font-size: 18px;
    }
.movie-container{
    height: 500px;
    width: 240px;
    background-color: rgb(220, 230, 235);
    padding: 10px;
}
.movie-specs{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.like-dislike{
    display: flex;
    align-items: center;
   }